﻿@model Foodie.ViewModels.TableSearchRequestViewModel
@using Foodie.ViewModels
@using Foodie.Models

@{
    ViewBag.Title = ResourceEn.TableSearchTitle;
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";

    var startDate = DateTime.Now.ToString("yyyy-MM-dd");
    var endDate = DateTime.Now.AddDays(1000).ToString("yyyy-MM-dd");

    ViewBag.Destination = new SelectList(new List<Foodie.Models.Location>());
    Model.RenderSearchBox = false;   
}
<!-- Nav Bar -->
@Html.Partial("~/Views/Shared/_NavbarPartial.cshtml", Model)
<div class="container-fluid">
    <div class="row">
        <div id="background-container" class="col-md-12">
            <div id="background">
                <div class="col-xs-10 col-xs-offset-1" id="hero">
                    <h2>@ResourceEn.TableSearchHeroBig</h2>
                    <h4>@ResourceEn.TableSearchHeroSmall</h4>
                </div>                
                <div id="main-search">
                    <!-- Search Bar -->
                    @Html.Partial("~/Views/Shared/_SearchBarPartial.cshtml", Model)
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <h1>@ResourceEn.TableSearchLocationTitle</h1>
        </div>
    </div>
    <!-- Featured Locations -->
    @if( Model.FeaturedLocations != null ) {
        var counter = 0;
        var locationsPerRow = 3;
        var locations = Model.FeaturedLocations.Skip(counter).Take(locationsPerRow);

        while (locations.Any()) {
            <div class="row featured-locations">
                @{ var _class = ""; }
                @foreach(var location in locations.ToList()) {

                        _class = _class == "" && (counter == 0 || counter % locationsPerRow == 0) ? "xcol-md-offset-1" : " ";
                        var locationName = location.Location.LocationName.Substring(0,1).ToUpper()+ location.Location.LocationName.Substring(1);
                        if ( location != null) {

                        <div class="location col-xs-12 col-sm-4 col-md-4 @_class">
                            <a href="@Html.GenerateSecureHttpGetRequest( new TableLocationSearchRequestViewModel{ LocationID = location.LocationID, LocationType = LocationsResponse.LocationType.Location, IsLocation = true, DistributionID = (int)DistributionChannel.PredefinedChannel.MainSite, Lang = Model.Lang }, "/TableSearch/Location")">
                                <img src="@Url.Content(location.Pictures.Where(p=>p.Type==Foodie.Models.LocationPicture.LocationPictureType.Profile).First().Path)"/>
                            </a>
                            <div class="location-title-container"><div class="location-title">@locationName</div></div>
                        </div>
                    }
                }
                 
            </div>
            counter+=locationsPerRow;
            locations = Model.FeaturedLocations.Skip(counter).Take(locationsPerRow); 
        }
    }
    <!-- / Featured Locations -->
    <div class="row all-locations">
        <div class="col-md-2 col-md-offset-5">
            <a href="" class="btn btn-primary btn-block">@ResourceEn.TableSearchMoreLocations</a>
        </div>
    </div>
    <!-- Footer -->
    @Html.Partial("~/Views/Shared/_FooterPartial.cshtml")
</div>



@section scripts{
@Scripts.Render("~/Content/plugins/scheduler/lib/moment.min.js")
@Scripts.Render("~/Content/plugins/daterangepicker/daterangepicker.js")
@Scripts.Render("~/Content/plugins/select2/select2.full.min.js")
<script type="text/javascript">

    var select2OptionId = null;
    $('#Destination').select2({
        placeholder: '@ResourceEn.TableSearchLocationPlaceholder',

        ajax: {
            url: '@Url.Action("GetLocations","TableSearch")',
            dataType: 'json',
            delay: 250,
            width: 'style',
            id: function (location) {
                return location.ID + "_" + location.Type + "_" + location.Location
            },
            data: function (params) {
                return {
                    Location: params.term, // search term
                };
            },
            processResults: function (data, page) {
                var select2Data = $.map(data, function (obj) {
                    obj.id = obj.Type + "_" + obj.LocationID + "_" + obj.Location;
                    obj.text = obj.Location;
                    return obj;
                });
                return {
                    results: select2Data,
                    pagination: {
                        more: false
                    }
                };
            },
            cache: true,
            minimumInputLength: 2,
        },
        escapeMarkup: function (markup) { return markup; },
        templateResult: function formatRepo(location) {

            if (location.loading) return location.text;
            var icon = location.Type == 0 ? 'glyphicon-globe' : 'glyphicon-cutlery';
            var markup =
            '<div class="clearfix">' +
                '<div clas="col-sm-12">' +
                    '<div class="clearfix">' +
                        '<div class="col-sm-3"><i class="glyphicon ' + icon + '"></i></div>' +
                        '<div class="col-sm-9">' + location.Location + '</div>' +
                    '</div>' +
                '</div>' +
            '</div>';
            return markup;
        },
        templateSelection: function formatRepoSelection(repo) {
            return repo.Location;
        },
    });
    $('.select2-selection__placeholder').text('@ResourceEn.TableSearchLocationPlaceholder');


    (function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                // + position.coords.latitude + " " + position.coords.longitude
                //select2OptionId = '@((int)Foodie.ViewModels.LocationsResponse.LocationType.Geo)' + '_1_' + position.coords.latitude + "-" + position.coords.longitude;
                select2OptionId = '@((int)Foodie.ViewModels.LocationsResponse.LocationType.Geo)' + '_1_' + "43.5021310-16.4298554";
                $destination = $('#Destination');
                $destination.append('<option data-type="2" selected value="' + select2OptionId + '">@ResourceEn.TableSearchRestaurantsNearMe</option>');
                $destination.trigger('change');
            });
        }
    })();

    $('#Date').daterangepicker({
        "singleDatePicker": true,
        "locale": {
            "format": "YYYY-MM-DD",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "daysOfWeek": [
                "Su",
                "Mo",
                "Tu",
                "We",
                "Th",
                "Fr",
                "Sa"
            ],
            "monthNames": [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
            "firstDay": 1
        },
        "startDate": '@startDate',
        "endDate": '@endDate'
    }, function (start, end, label) {
    });
</script>    
}

@section css{
<!-- Main css file -->
@Styles.Render("~/Content/frontend.css")
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />    
<style>
    .featured-locations{
        margin-top: 15px;
    }

    .location{
        overflow: hidden;
        height: 300px;
    }
    .location-title-container{
        position: absolute;
        top: 45%;
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: white;
    }

    .location-title{
        width:120px;
        padding: 10px;
        margin-left:auto;
        margin-right:auto;
        background-color: rgba(0,0,0,0);
    }

    .navbar{
        margin-bottom:0px;
    }

    #background-container{
        position: relative;
        height: 500px;
    }

    #background{
        background-image:url(@Url.Content("~/Content/Images/background.jpg"));
    	background-repeat: no-repeat;        
        overflow: hidden;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    #background #main-search{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 55px;
    }

    #background #main-search form{
        position: absolute;
        width: 700px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #background .search-button{
        margin-left: -3px;
        border-radius: 0px;
    }

    #hero{
        position: absolute;
        top: 45%;
        text-align: center;
        color: white;
    }

    #hero h2{
        font-size: 35px;
    }

    #hero h4{
        font-size: 22px;
    }

    .content{
        padding: 0px !important;
    }

    .all-locations .btn-block{
        padding: 20px;
        font-size: 18px;
    }

    .featured-locations{
        padding-left: 100px;
        padding-right: 100px;
    }

    @@media(max-width: 768px){

        #background-container{
            height: 300px;
        }
        
        #hero{
            top: 0;
        }

        #hero h2{
            font-size: 30px;
        }

        #hero h4{
            font-size: 20px;
        }

        #background #main-search form{            
            width: auto;
            bottom: 0;
            left: 0;
            right: 0;
            padding-right: 20px;
            padding-left: 20px;
        }
    
        .compact{
            width: 33.33%;
            display: inline-block;
            float: left;
        }
    
        .form-group{
            margin-bottom: 0px;
        }
    
        .select2-container{
            width: 100%;
        } 
    
        .form-inline .form-control{
            margin-left: 0px !important;
        }  

        #background .search-button{
            margin-left: 0px;
        }

        #background .search-button .btn{
            width: 100%;
        }

        .location{
            margin-bottom: 10px;
        }
        
        .featured-locations{
            margin-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    #main-search{
        background-color: rgba(0,0,0,0.4);
        margin-top: 200px;
        height: 130px;
    }
   
    .form-inline .form-control{
        margin-left: -5px;
    }

    .search-button{
        margin-left: -42px;
    }

    h2{
        color:white;
        margin-left: 9px;
    }

    .select2-container .select2-selection--single{
        height: 34px !important;    
    }

    .select2-container--default .select2-selection--single{
        border-radius: 0px !important;
        min-width: 200px;
    }
</style>
       
    
}